.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-in-out;
}

.isModalVisible-true {
  opacity: 1;
  pointer-events: visibleStroke;
}

.toggles::after {
  content: '';
  border: 1px solid #d6b029;

  &::after {
    content: '';
    border: 1px solid #b50d0d;
  }
}
